---
{% for vlan in vlans %}
- ObjectType: "bulk.RestSubRequest"
  Body:
    Name: "{{ vlan.Name }}"
    VlanId: {{ vlan.ID }}
    IsNative: {{ IsNative }}
    EthNetworkPolicy: "{{ vlan_policy_moid }}"
    SharingType: "{{ vlan.VLANSharing }}"
    {% if vlan.VLANSharing == "None" %}MulticastPolicy: "{{ multicast_policy_moid }}"{% endif -%}
    {% if vlan.VLANSharing == "Primary" %}MulticastPolicy: ""{% endif -%}
    {% if vlan.VLANSharing == "Isolated" %}MulticastPolicy: ""{% endif -%}
    {% if vlan.VLANSharing == "Community" %}MulticastPolicy: ""{% endif %}

    {% if "1" != vlan.ID %}AutoAllowOnUplinks: {{ AutoAllowOnUplinks }}{% endif %}

    {%- if "1" == vlan.ID %}AutoAllowOnUplinks: true{% endif %}

    {% if vlan.PrimaryVLANName != "" %}{% for invlan in vlans %}{% if vlan.PrimaryVLANName in invlan.Name %}PrimaryVlanId: {{ invlan.ID }}{% endif %}{% endfor %}{% endif %}

    {%- if vlan.PrimaryVLANName == "" %}PrimaryVlanId: {{ PrimaryVlanId }}{% endif %}

{% endfor %}
